.portfolio-page {
    .top-tags {
        bottom: auto;
        top: 15px;
    }


    .tags {
        color: #ffd700;
        opacity: 0.6;
        position: absolute;
        bottom: 0;
        left: 120px;
        font-size: 14px;
        font-family: 'Menlo-Regular', sans-serif;
        height: fit-content;
    }

    .css-typing p {
        color: #4d4d4e;
        line-height: 30px;
        margin-inline-end: 5px;
        margin: 2px;
        border-right: 10px solid orange;
        font-family: "Menlo-Regular", sans-serif;
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        top: 1%;
        bottom: 1%;
    }

    .css-typing p:nth-child(1) {
        border-right: .15em solid orange;
        width: 6.5em;
        opacity: 0;
        -webkit-animation: type2 2s steps(11, end), blink .5s step-end infinite alternate;
        animation: type2 2s steps(11, end), blink .5s step-end infinite alternate;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-duration: 850ms;
    }

    .css-typing2 p {
        color: #4d4d4e;
        line-height: 30px;
        margin-inline-end: 5px;
        margin: 2px;
        border-right: .15em solid orange;
        font-family: "Menlo-Regular", sans-serif;
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        top: 1%;
        bottom: 1%;
    }

    .css-typing2 p:nth-child(1) {
        border-right: .15em solid orange;
        width: 6.75em;
        margin-top: 1em;
        opacity: 0;
        -webkit-animation: type3 2s steps(11, end), blink .5s step-end infinite alternate;
        animation: type3 2s steps(11, end), blink .5s step-end infinite alternate;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-duration: 750ms;
    }

    @keyframes type2 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        99.9% {
            border-right: .15em solid orange;
        }

        100% {
            opacity: 1;
            border: none
        }
    }

    @-webkit-keyframes type2 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        99.9% {
            border-right: .15em solid orange;
        }

        100% {
            opacity: 1;
            border: none
        }
    }

    @keyframes type3 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes type3 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }

    @-webkit-keyframes blink {
        50% {
            border-color: transparent;
        }
    }

    .text-zone {
        position: absolute;
        left: 10%;
        top: 15%;
        transform: translateY(75);
        width: 40%;
        max-height: 100%;
    }
}
.button {
    background-color: #1e1e1e;
    text-align: left;
    border: none;
    color: white;
    font-family: "Menlo-Regular", sans-serif;
    font-size: large;
    margin-left: 100px;
}

.button2 {
    background-color: #1e1e1e;
    text-align: left;
    border: none;
    color: white;
    font-family: "Menlo-Regular", sans-serif;
    font-size: large;
    margin-left: 100px;
    margin-top: initial;
}
