.home-page {
    background: #000;
    height: 100vh;
}

.search-bar {
    position: absolute;
    top: 0px;
    left: 0px
}

.page-contents {
    background: #000;
    padding-left: 0px;
    margin: 0px;
    top: 60px;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.mainblock {
    margin-top: 20px;
    margin-left: 3%;
    width: 50%;
    height: 40%;

    .account-details {
        margin-left: -4%;
        background: #1d1d1e;
        margin-top: 2%;
        color: #fff;
        width: 70%;
        height: 100%;
        border-radius: 20px;

        h1 {
            padding-top: 20px;
            padding-left: 20px;
            font-size: 20px;
            width: 100%;
            color: slateblue;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }


        .left-column {
            width: fit-content;
            position: absolute;

            p {
                margin-top: 0px;
                font-size: 14px;
                padding-left: 20px;
                color: gray;
                margin-bottom: 10px;
            }
        }

        .right-column {
            width: fit-content;
            margin-left: 70%;

            p {
                margin-top: 0px;
                text-align: right;
                font-size: 14px;
                padding-left: 20px;
                color: white;
                margin-bottom: 10px;
            }
        }

        .bottom-column {
            margin-left: 20px;

            p {
                font-size: 11px;
                color: white;
            }

            .bottom-stats-label {
                display: flex;
                width: 375px;

                p {
                    color: slategray;
                    width: fit-content;
                    flex: 1;
                }
            }

            .bottom-stats {
                display: flex;
                width: 375px;
                margin-top: -5%;

                h2 {
                    font-size: 15px;
                    color: white;
                    width: fit-content;
                    flex: 1;
                }
            }
        }
    }

    .watchlist {
        margin-left: -4%;
        background: #1d1d1e;
        margin-top: 3%;
        color: #fff;
        width: 70%;
        height: 90%;
        border-radius: 20px;

        h1 {
            padding-top: 20px;
            padding-left: 20px;
            font-size: 20px;
            width: 100%;
            color: slateblue;
            margin-bottom: 10px;
            padding-bottom: 0px;
        }

        p {
            text-align: center;
            font-size: 14px;
            color: slategrey;
        }

        .watchtable {
            max-height: 125px;
            overflow-y: auto;

            &::-webkit-scrollbar-button {
                display: none;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #888;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }
        }


        table {
            max-height: 300px;
            overflow-y: auto;
            color: #fff;
            margin-left: 20px;
            font-size: 15px;
            text-align: right;
            width: 375px;
            border-spacing: 0;

            thead {
                width: 80px;
                border-bottom: 1px solid white;

                th {
                    padding: 0px;
                    margin: 0px;
                    border-top: 1px solid #454545;
                    border-bottom: 1px solid #454545;
                }
            }

            tbody {
                margin: 0px;
                width: 40px;
                text-align: right;
                font-size: 13px;

                td {
                    padding-left: 0px;
                    padding-right: 0px;
                }

                .even-row {
                    background-color: #000;
                }

                .odd-row {
                    background-color: #1d1d1e;
                }
            }
        }
    }
}

.rightblock {
    margin-top: 30px;
    margin-left: -12.5%;
    width: 50%;
    height: 40%;

    .activeorders {
        position: absolute;
        width: 57%;
        background: #1d1d1e;
        color: #fff;
        height: 79.5%;
        border-radius: 20px;

        .activetable {
            max-height: 150px;
            overflow-y: auto;
        }

        p {
            text-align: center;
            font-size: 14px;
            color: slategrey;
        }

        h1 {
            padding-top: 10px;
            padding-left: 20px;
            font-size: 20px;
            width: 100%;
            color: slateblue;
            margin-bottom: 10px;
            padding-bottom: 0px;
            margin-top: 25%;
        }

        table {
            color: #fff;
            margin-left: 20px;
            font-size: 15px;
            font-size: 15px;
            text-align: center;
            width: 650px;
            border-spacing: 0;

            thead {
                width: 300px;

                th {
                    border-top: 1px solid #454545;
                    border-bottom: 1px solid #454545;
                }
            }

            tbody {
                margin: 0px;
                width: 60px;
                text-align: center;
                font-size: 13px;

                td {
                    padding-left: 0px;
                    padding-right: 0px;
                }

                .even-row {
                    background-color: #000;
                }

                .odd-row {
                    background-color: #1d1d1e;
                }
            }
        }
    }

    .positions {
        position: absolute;
        top: 45%;
        width: 57%;
        background: #1d1d1e;
        margin-top: -2%;
        color: #fff;
        border-radius: 20px;

        .positiontable {
            max-height: 150px;
            overflow-y: auto;
        }

        p {
            text-align: center;
            font-size: 14px;
            color: slategrey;
        }

        h1 {
            padding-top: 10px;
            padding-left: 20px;
            font-size: 20px;
            width: 100%;
            color: slateblue;
            margin-bottom: 10px;
            padding-bottom: 0px;
        }

        table {
            color: #fff;
            margin-left: 20px;
            font-size: 15px;
            font-size: 15px;
            text-align: center;
            width: 650px;
            border-spacing: 0;

            thead {
                width: 300px;

                th {
                    border-top: 1px solid #454545;
                    border-bottom: 1px solid #454545;
                }
            }

            tbody {
                margin: 0px;
                width: 60px;
                text-align: center;
                font-size: 13px;

                td {
                    padding-left: 0px;
                    padding-right: 0px;
                }

                .even-row {
                    background-color: #000;
                }

                .odd-row {
                    background-color: #1d1d1e;
                }
            }
        }
    }
}