.home-page {
    background: #000;
    padding-left: 0px;
    margin: 0px;
    top: 20px;
    position: relative; 
    display: flex;

}

.mainblock {
    position: absolute;
    margin-left: 20%;
    width: 50%;
    height: 40%;

    .account-details {
        margin-left: -4%;
        background: #1d1d1e;
        margin-top: 3%;
        color: #fff;
        width: 70%;
        height: 100%;
        border-radius: 20px;

        h1 {
            padding-top: 20px;
            padding-left: 20px;
            font-size: 20px;
            width: 100%;
            color: slateblue;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }


        .left-column {
            width: fit-content;
            position: absolute;

            p {
                margin-top: 0px;
                font-size: 14px;
                padding-left: 20px;
                color: gray;
                margin-bottom: 10px;
            }
        }

        .right-column {
            position: absolute;
            width: fit-content;
            margin-left: 50%;

            p {
                margin-top: 0px;
                text-align: right;
                font-size: 14px;
                padding-left: 20px;
                color: white;
                margin-bottom: 10px;
            }
        }

        .bottom-column {
            margin-left: 20px;
            margin-top: 20%;

            p {
                font-size: 11px;
                color: white;
            }

            .bottom-stats-label {
                display: flex;
                width: 375px;

                p {
                    color: slategray;
                    width: fit-content;
                    flex: 1;
                }
            }

            .bottom-stats {
                display: flex;
                width: 375px;
                margin-top: -5%;

                h2 {
                    font-size: 15px;
                    color: white;
                    width: fit-content;
                    flex: 1;
                }
            }
        }
    }

    .watchlist {
        margin-left: -4%;
        background: #1d1d1e;
        margin-top: 3%;
        color: #fff;
        width: 70%;
        height: 100%;
        border-radius: 20px;

        h1 {
            padding-top: 20px;
            padding-left: 20px;
            font-size: 20px;
            width: 100%;
            color: slateblue;
            margin-bottom: 10px;
            padding-bottom: 0px;
        }

        p {
            text-align: center;
            font-size: 14px;
            color: slategrey;
        }

        table {
            color: #fff;
            margin-left: 20px;
            font-size: 14px;
            text-align: right;
            width: 375px;
            border-spacing: 0;

            thead {
                width: 80px;
                border-bottom: 1px solid white;

                th {
                    padding: 0px;
                    margin: 0px;
                    border-top: 1px solid #454545;
                    border-bottom: 1px solid #454545;
                }
            }

            tbody {
                margin: 0px;
                width: 40px;
                text-align: right;
                font-size: 13px;

                td {
                    padding-left: 0px;
                    padding-right: 0px;
                }

                .even-row {
                    background-color: #1d1d1e;
                }

                .odd-row {
                    background-color: #000;
                }
            }
        }
    }
}

.rightblock {
    position: absolute;
    margin-left: 55.5%;
    top: 7.5%;
    width: 20%;

    .portfoliotitle {
        color: white;
    }
}

.bottomblock {
    
}