.back {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Horizontally center the .signinlayout */
}

.signinlayout {
    background: #1d1d1e;
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column; /* To center the image and other content vertically */
    align-items: center;
    margin-top: 7.5%;
}

.signinlayout {
    border-radius: 10px;
    h1 {
        color: #fff;
        margin-top: 20%;
        font-size: 25px;
    }
    .login-button {
        margin-top: 10%;
    }
    img {
        margin-top: 5%;
        width: 40%;
        height: auto;
    }
}
