.search-bar {
    height: 75px;
    width: 100%;
    background: #1d1d1e;
    top: 0;
    left: 0px;
    min-height: 7px;

    .logo {
        display: block;
        padding: 8px 0;

        img {
            float: left;
            display: block;
            margin: 8px auto;
            width: 150px;
            height: auto;
            padding-left: 15px;

            &.sub-logo {
                width: 50px;
            }
        }
    }

    input {
        margin-left: 200px;
        padding: 0%;
        height: 35px;
        width: 300px;
        background-color: #000;
        border-color: #000;
        border: 5px solid black;
        color: #fff;
    }
}
