.search-bar {
    height: 40px;
    width: 75%;
    background: #1d1d1e;
    top: 0;
    left: 0px;
    min-height: 7px;
    position: relative;
    margin-left: 250px;

    input {
        margin-top: 10px;
        margin-left: 200px;
        padding: 0%;
        height: 35px;
        width: 300px;
        background-color: #000;
        border-color: #000;
        border: 5px solid black;
        color: #fff;
    }
}
